Repository outmanla/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @github/docs-engineering, @github/docs-localization, @github-actions, @github/site-policy-admins, @github/docs-content-strategy, @github/octokit-maintainers

.github/CODEOWNERS:

تخطى الى المحتوى
outmanla
/
موقع يوتيوب
متشعب من مهندس رجل / يوتيوب
رمز
طلبات السحب
أجراءات
المشاريع
ويكي
حماية
أفكار
إعدادات
موقع يوتيوب/118/ basketball.py
تضمين التغريدة
realtux الجيش الشعبي الجديد
 1 مساهم
61 سطرًا (40 sloc)  1.01 كيلوبايت
 
#! / usr / bin / env python3

من  ppadb . عميل  استيراد  العميل
 وقت الاستيراد
استيراد  خيوط

adb  =  العميل ( المضيف = '127.0.0.1' ، المنفذ = 5037 )
أجهزة  =  adb . أجهزة ()

إذا كان  len ( أجهزة ) ==  0 :
    طباعة ( "لم يتم توصيل أي جهاز" )
    إنهاء ()

device  =  أجهزة [ 0 ]

جاهز  =  خطأ
min_x  =  415
shoot_x  =  لا شيء

def  monitor_hoop ():
    عالمية  جاهزة
     shoot_x العالمية

    الإدخال ( " )

    البداية  =  الوقت . الوقت ()

    بينما  صحيح :
        دورة  =  6.25
        delta = time.time() - start
        perc1 = (delta % cycle) / cycle

        dir = 'r' if perc1 < .5 else 'l'

        perc2 = perc1 + .24

        if dir == 'l' and perc2 > 1:
            perc2 = perc2 - 1

        if perc2 > .5:
            perc2 = .5 - (perc2 - .5)

        shoot_x = min_x + perc2 * 2 * 250
        ready = True

        print(shoot_x)

        time.sleep(.005)



t1 = threading.Thread(target=monitor_hoop)
t1.daemon = True
t1.start()

while True:
    if not ready:
        time.sleep(.5)
        continue

    الجهاز . قذيفة ( f'input touchscreen swipe 540 1600 { int ( shoot_x ) } 820300 ' )
© 2021 GitHub، Inc.
شروط
خصوصية
حماية
حالة
المستندات
اتصل بـ GitHub
التسعير
API
تمرين
مقالات
حول
 Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Engineering
*.js @github/docs-engineering
/.github/ @github/docs-engineering
/script/ @github/docs-engineering
/includes/ @github/docs-engineering
/layouts/ @github/docs-engineering
app.json @github/docs-engineering
Dockerfile @github/docs-engineering
package-lock.json @github/docs-engineering
package.json @github/docs-engineering

# Localization
/.github/workflows/crowdin.yml @github/docs-localization
/crowdin*.yml @github/docs-engineering @github/docs-localization
/translations/ @github/docs-engineering @github/docs-localization @github-actions

# Site Policy
/content/github/site-policy/ @github/site-policy-admins

# Content strategy
/contributing/content-markup-reference.md @github/docs-content-strategy
/contributing/content-style-guide.md @github/docs-content-strategy

# Make sure that Octokit maintainers get notified about changes
# relevant to the Octokit libraries (https://github.com/octokit)
/content/rest/reference @github/octokit-maintainers

Update README.md
  README.md
Owners: none

Create README.md
  README.md
Owners: none

Create README.md (#4)
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: none

Update README.md
  README.md
Owners: none

Update and rename data/release-notes/2-20/0.yml to بيانات/ملاحظات الإصدار/2-20/0.yml
  بيانات/ملاحظات الإصدار/2-20/0.yml
Owners: none

Update and rename contributing/README.md to المساهمة/README.md
  contributing/README.md
  المساهمة/README.md
Owners: none

Update and rename lib/check-node-version.js to ليب/check-node-version.js
  lib/check-node-version.js
  ليب/check-node-version.js
Owners: @github/docs-engineering

Update check-node-version.js
  ليب/check-node-version.js
Owners: @github/docs-engineering

Update check-node-version.js
  ليب/check-node-version.js
Owners: @github/docs-engineering

Update and rename contributing/localization-checklist.md to المساهمة/localization-checklist.md
  contributing/localization-checklist.md
  المساهمة/localization-checklist.md
Owners: none

Update README.md
  README.md
Owners: none

Update and rename middleware/featured-links.js to الوسيطة/featured-links.js
  middleware/featured-links.js
  الوسيطة/featured-links.js
Owners: @github/docs-engineering

Update and rename middleware/connect-datadog.js to الوسيطة/connect-datadog.js
  middleware/connect-datadog.js
  الوسيطة/connect-datadog.js
Owners: @github/docs-engineering

Update and rename contributing/content-markup-reference.md to المساهمة/content-markup-reference.md
  contributing/content-markup-reference.md
  المساهمة/content-markup-reference.md
Owners: @github/docs-content-strategy

Update and rename contributing/content-markup-reference.md to المساهمة/content-markup-reference.md
  contributing/content-markup-reference.md
  المساهمة/content-markup-reference.md
Owners: @github/docs-content-strategy

Update and rename contributing/content-markup-reference.md to المساهمة/content-markup-reference.md
  contributing/content-markup-reference.md
  المساهمة/content-markup-reference.md
Owners: @github/docs-content-strategy

Update and rename contributing/content-markup-reference.md to المساهمة/content-markup-reference.md
  contributing/content-markup-reference.md
  المساهمة/content-markup-reference.md
Owners: @github/docs-content-strategy

Update and rename data/reusables/README.md to بيانات/قابلة لإعادة الاستخدام/README.md
  data/reusables/README.md
  بيانات/قابلة لإعادة الاستخدام/README.md
Owners: none

Update and rename docs/index.yaml to المستندات/index.yaml
  المستندات/index.yaml
Owners: none

Update and rename docs/index.yaml to المستندات/index.yaml
  المستندات/index.yaml
Owners: none
